[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fishualize"]
	path = fishualize
	url = https://github.com/nschiett/fishualize
